{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15552.316847495777!2d77.70115691992343!3d12.966783008273344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1225fb6368bb%3A0x42f311e44d53ca2!2sCMRIT%20College%20Ampitheatre!5e0!3m2!1sen!2sin!4v1721744335108!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located at CMRIT,AECS Layout,Marathahalli.</li>
          <li>We are opposite to Sansar Hypermarket.</li>
        </ul>

      </div>

    </div>

{% endblock %}
